@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --cyber-dark: #050517;
  --cyber-blue: #00F0FF;
  --cyber-purple: #B000FF;
  --cyber-pink: #FF2EB6;
}

body {
  @apply bg-cyber-dark text-white;
}

.shadow-neon {
  box-shadow: 0 0 8px var(--cyber-blue), 0 0 15px var(--cyber-purple);
}
